<p class="text-black opacity-80 dark:text-white text-normal leading-4 tracking-[.01rem] outline-none px-5 py-5" tabindex="0">Calls</p> 

<div>
    <div>
        <!---->
        <div>
            <div>
                <button aria-label="voice call with Ahmed Ali" class="w-full h-[5.75rem] px-5 py-6 mb-3 flex rounded focus:outline-none transition duration-500 ease-out focus:bg-indigo-50 dark:active:bg-gray-600 dark:focus:bg-gray-600 dark:hover:bg-gray-600 hover:bg-indigo-50 active:bg-indigo-100" tabindex="0">
                    <div class="mr-4">
                        <div class="relative">
                            <div class="rounded-full bg-cover bg-center w-7 h-7" style="background-image: url(&quot;https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=387&amp;q=80&quot;);"></div>
                        </div>
                    </div>
                    <div class="w-full flex flex-col">
                        <div class="w-full">
                            <div class="flex items-start">
                                <div class="grow mb-4 text-start">
                                    <p class="outline-none text-sm text-black opacity-80 dark:text-white dark:opacity-90 font-semibold leading-4 tracking-[.01rem]">Ahmed Ali</p>
                                </div>
                                <div class="mr-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="w-[.875rem] h-[.875rem] text-red-300 dark:text-red-400">
                                        <path fill-rule="evenodd" d="M15.22 3.22a.75.75 0 011.06 0L18 4.94l1.72-1.72a.75.75 0 111.06 1.06L19.06 6l1.72 1.72a.75.75 0 01-1.06 1.06L18 7.06l-1.72 1.72a.75.75 0 11-1.06-1.06L16.94 6l-1.72-1.72a.75.75 0 010-1.06zM1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z" clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div>
                            <p class="outline-none text-sm text-black opacity-80 dark:text-white dark:opacity-90 font-normal leading-4 tracking-[.01rem] flex justify-start items-center">Dec 12, 2020</p>
                        </div>
                    </div>
                </button>
            </div>
            <div>
                <button aria-label="voice call with Ahmed Ali, Allen Carr, Feng Zhuo, " class="w-full h-[5.75rem] px-5 py-6 mb-3 flex rounded focus:outline-none transition duration-500 ease-out focus:bg-indigo-50 dark:active:bg-gray-600 dark:focus:bg-gray-600 dark:hover:bg-gray-600 hover:bg-indigo-50 active:bg-indigo-100" tabindex="0">
                    <div class="mr-[2rem]">
                        <div class="relative">
                            <div class="rounded-full bg-cover bg-center w-7 h-7" style="background-image: url(&quot;https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=387&amp;q=80&quot;);"></div>
                            <div class="absolute top-0 left-[1.25rem] flex justify-center items-center rounded-full bg-gray-50 dark:bg-gray-700 w-7 h-7">
                                <p class="outline-none text-xs font-light text-black opacity-80 dark:text-white dark:opacity-90 leading-4 tracking-[.01rem]">2+</p>
                            </div>
                            <!---->
                        </div>
                    </div>
                    <div class="w-full flex flex-col">
                        <div class="w-full">
                            <div class="flex items-start">
                                <div class="grow mb-4 text-start">
                                    <p class="outline-none text-sm text-black opacity-80 dark:text-white dark:opacity-90 font-semibold leading-4 tracking-[.01rem]">Ahmed Ali, Allen Car...</p>
                                </div>
                                <div class="mr-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="w-[.875rem] h-[.875rem] text-green-300 dark:text-green-400">
                                        <path fill-rule="evenodd" d="M19.5 9.75a.75.75 0 01-.75.75h-4.5a.75.75 0 01-.75-.75v-4.5a.75.75 0 011.5 0v2.69l4.72-4.72a.75.75 0 111.06 1.06L16.06 9h2.69a.75.75 0 01.75.75z" clip-rule="evenodd"></path>
                                        <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z" clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div>
                            <p class="outline-none text-sm text-black opacity-80 dark:text-white dark:opacity-90 font-normal leading-4 tracking-[.01rem] flex justify-start items-center">Dec 12, 2020</p>
                        </div>
                    </div>
                </button>
            </div>
            <div>
                <button aria-label="voice call with Dylan Billy" class="w-full h-[5.75rem] px-5 py-6 mb-3 flex rounded focus:outline-none transition duration-500 ease-out focus:bg-indigo-50 dark:active:bg-gray-600 dark:focus:bg-gray-600 dark:hover:bg-gray-600 hover:bg-indigo-50 active:bg-indigo-100" tabindex="0">
                    <div class="mr-4">
                        <div class="relative">
                            <div class="rounded-full bg-cover bg-center w-7 h-7" style="background-image: url(&quot;https://images.unsplash.com/photo-1522556189639-b150ed9c4330?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=387&amp;q=80&quot;);"></div>
                        </div>
                    </div>
                    <div class="w-full flex flex-col">
                        <div class="w-full">
                            <div class="flex items-start">
                                <div class="grow mb-4 text-start">
                                    <p class="outline-none text-sm text-black opacity-80 dark:text-white dark:opacity-90 font-semibold leading-4 tracking-[.01rem]">Dylan Billy</p>
                                </div>
                                <div class="mr-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="w-[.875rem] h-[.875rem] text-green-300 dark:text-green-400">
                                        <path fill-rule="evenodd" d="M15 3.75a.75.75 0 01.75-.75h4.5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0V5.56l-4.72 4.72a.75.75 0 11-1.06-1.06l4.72-4.72h-2.69a.75.75 0 01-.75-.75z" clip-rule="evenodd"></path>
                                        <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z" clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div>
                            <p class="outline-none text-sm text-black opacity-80 dark:text-white dark:opacity-90 font-normal leading-4 tracking-[.01rem] flex justify-start items-center">Dec 12, 2020</p>
                        </div>
                    </div>
                </button>
            </div>
            <div>
                <button aria-label="voice call with Allen Carr" class="w-full h-[5.75rem] px-5 py-6 mb-3 flex rounded focus:outline-none transition duration-500 ease-out focus:bg-indigo-50 dark:active:bg-gray-600 dark:focus:bg-gray-600 dark:hover:bg-gray-600 hover:bg-indigo-50 active:bg-indigo-100" tabindex="0">
                    <div class="mr-4">
                        <div class="relative">
                            <div class="rounded-full bg-cover bg-center w-7 h-7" style="background-image: url(&quot;https://images.unsplash.com/photo-1463453091185-61582044d556?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=870&amp;q=80&quot;);"></div>
                        </div>
                    </div>
                    <div class="w-full flex flex-col">
                        <div class="w-full">
                            <div class="flex items-start">
                                <div class="grow mb-4 text-start">
                                    <p class="outline-none text-sm text-black opacity-80 dark:text-white dark:opacity-90 font-semibold leading-4 tracking-[.01rem]">Allen Carr</p>
                                </div>
                                <div class="mr-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="w-[.875rem] h-[.875rem] text-red-300 dark:text-red-400">
                                        <path fill-rule="evenodd" d="M15.22 3.22a.75.75 0 011.06 0L18 4.94l1.72-1.72a.75.75 0 111.06 1.06L19.06 6l1.72 1.72a.75.75 0 01-1.06 1.06L18 7.06l-1.72 1.72a.75.75 0 11-1.06-1.06L16.94 6l-1.72-1.72a.75.75 0 010-1.06zM1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z" clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div>
                            <p class="outline-none text-sm text-black opacity-80 dark:text-white dark:opacity-90 font-normal leading-4 tracking-[.01rem] flex justify-start items-center">Dec 12, 2020</p>
                        </div>
                    </div>
                </button>
            </div>
            <div>
                <button aria-label="voice call with Evelyn Billy, Fung Sheng, " class="w-full h-[5.75rem] px-5 py-6 mb-3 flex rounded focus:outline-none transition duration-500 ease-out focus:bg-indigo-50 dark:active:bg-gray-600 dark:focus:bg-gray-600 dark:hover:bg-gray-600 hover:bg-indigo-50 active:bg-indigo-100" tabindex="0">
                    <div class="mr-[2rem]">
                        <div class="relative">
                            <div class="rounded-full bg-cover bg-center w-7 h-7" style="background-image: url(&quot;https://images.unsplash.com/photo-1539571696357-5a69c17a67c6?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8cGVvcGxlfGVufDB8fDB8fA%3D%3D&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=60&quot;);"></div>
                            <div class="absolute top-0 left-[1.25rem] rounded-full bg-cover bg-center w-7 h-7" style="background-image: url(&quot;https://images.pexels.com/photos/1851164/pexels-photo-1851164.jpeg?cs=srgb&amp;dl=pexels-charles-1851164.jpg&amp;fm=jpg&quot;);"></div>
                        </div>
                    </div>
                    <div class="w-full flex flex-col">
                        <div class="w-full">
                            <div class="flex items-start">
                                <div class="grow mb-4 text-start">
                                    <p class="outline-none text-sm text-black opacity-80 dark:text-white dark:opacity-90 font-semibold leading-4 tracking-[.01rem]">Evelyn Billy, Fung S...</p>
                                </div>
                                <div class="mr-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="w-[.875rem] h-[.875rem] text-green-300 dark:text-green-400">
                                        <path fill-rule="evenodd" d="M15 3.75a.75.75 0 01.75-.75h4.5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0V5.56l-4.72 4.72a.75.75 0 11-1.06-1.06l4.72-4.72h-2.69a.75.75 0 01-.75-.75z" clip-rule="evenodd"></path>
                                        <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z" clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div>
                            <p class="outline-none text-sm text-black opacity-80 dark:text-white dark:opacity-90 font-normal leading-4 tracking-[.01rem] flex justify-start items-center">Dec 12, 2020</p>
                        </div>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>