<div class="w-full">
    <div class="relative transition-all duration-200">
        <!---->
    </div>
    <div class="h-auto min-h-[5.25rem] py-2 gap-2 flex items-end">
        <div class="min-h-[2.75rem] flex gap-1 ml-2">
            <button class="group flex justify-center items-center rounded-full outline-none focus:outline-none hover:bg-gray-100 dark:hover:bg-gray-700 focus:bg-gray-100 dark:focus:bg-gray-600 transition-all duration-200 group w-7 h-7" title="open select attachments modal" aria-label="open select attachments modal">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="w-[1.25rem] h-[1.25rem] text-gray-400 group-hover:text-indigo-300">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M18.375 12.739l-7.693 7.693a4.5 4.5 0 01-6.364-6.364l10.94-10.94A3 3 0 1119.5 7.372L8.552 18.32m.009-.01l-.01.01m5.699-9.941l-7.81 7.81a1.5 1.5 0 002.112 2.13"></path>
                </svg>
            </button>
            <button class="group flex justify-center items-center rounded-full outline-none focus:outline-none hover:bg-gray-100 dark:hover:bg-gray-700 focus:bg-gray-100 dark:focus:bg-gray-600 transition-all duration-200 group w-7 h-7" title="start recording" aria-label="start recording">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="w-[1.25rem] h-[1.25rem] text-gray-400 group-hover:text-indigo-300">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 18.75a6 6 0 006-6v-1.5m-6 7.5a6 6 0 01-6-6v-1.5m6 7.5v3.75m-3.75 0h7.5M12 15.75a3 3 0 01-3-3V4.5a3 3 0 116 0v8.25a3 3 0 01-3 3z"></path>
                </svg>
            </button>
            <button class="group flex justify-center items-center rounded-full outline-none focus:outline-none hover:bg-gray-100 dark:hover:bg-gray-700 focus:bg-gray-100 dark:focus:bg-gray-600 transition-all duration-200 toggle-picker-button group w-7 h-7" title="toggle emoji picker" aria-label="toggle emoji picker">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="w-[1.25rem] h-[1.25rem] text-gray-400 group-hover:text-indigo-300">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.182 15.182a4.5 4.5 0 01-6.364 0M21 12a9 9 0 11-18 0 9 9 0 0118 0zM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75zm-.375 0h.008v.015h-.008V9.75zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75zm-.375 0h.008v.015h-.008V9.75z"></path>
                </svg>
            </button>  
        </div>
        <div class="grow"> 
            <div contenteditable="true" placeholder="Your message..." id="chatboxInput" class="whitespace-pre-wrap relative max-h-44 overflow-y-auto px-5 py-4 text-sm rounded-sm content-center outline-none text-sm placeholder:text-black placeholder:opacity-40 text-opacity-70 dark:placeholder:text-white dark:placeholder:opacity-70 focus:outline-none transition duration-200 ease-out text-black bg-gray-100 dark:text-white border-opacity-0 dark:bg-gray-700 dark:bg-opacity-70 dark:border-opacity-70 dark:border-gray-700"></div>
        </div> 
        <div class="min-h-[2.75rem] mr-2 ml-1"> 
            <button id="sendMessageButton" class="group flex justify-center items-center outline-none rounded-full focus:outline-none transition-all duration-200 group w-7 h-7 bg-indigo-300 hover:bg-indigo-400 focus:bg-indigo-400 dark:focus:bg-indigo-300 dark:bg-indigo-400 dark:hover:bg-indigo-400 active:scale-110" title="send message" aria-label="send message">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="w-[1.0625rem] h-[1.0625rem] text-white">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5"></path>
                </svg>
            </button>
        </div>
    </div> 
</div>