{% extends 'base.html.twig' %}

{% block title %}Amicanem{% endblock %}

{% block body %}   
    <aside id="separator-sidebar" class="fixed top-0 left-0 z-40 w-full sm:w-96 h-[100dvh] transition-transform -translate-x-full md:translate-x-0" aria-label="Sidebar">
        {% include 'main/sidebar.html.twig' %}
    </aside>

    <section id="main-chatbox" class="md:ml-96 relative flex flex-col h-[100dvh] bg-white dark:bg-gray-800 hidden"> 
        {% include 'main/header.html.twig' %}
        {% include 'main/main.html.twig' %}
        {% include 'main/footer.html.twig' %} 
    </section> 

    <section id="main-chatbox-intro" class="md:ml-96 relative flex justify-center items-center flex-col h-[100dvh] bg-white dark:bg-gray-800">
        <button id="separator-sidebar-button" data-drawer-target="separator-sidebar" data-drawer-toggle="separator-sidebar" aria-controls="separator-sidebar" type="button" class="absolute left-5 top-5 md:hidden group flex justify-center items-center rounded-full outline-none focus:outline-none hover:bg-gray-100 dark:hover:bg-gray-700 focus:bg-gray-100 dark:focus:bg-gray-600 transition-all duration-200 w-7 h-7">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="w-[1.25rem] h-[1.25rem] text-gray-300 group-hover:text-indigo-300">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5"></path>
            </svg>
        </button>
        <div class="mx-auto w-56 h-56 rounded-full flex items-center justify-center">
            <img src="/logo.png" alt="Amicanem" aria-label="Amicanem" title="Amicanem" class="w-full h-full rounded-full object-scale-down">
        </div>
        <h2 class="mx-auto mt-2 outline-none text-sm text-black opacity-60 dark:text-white dark:opacity-70 font-semibold leading-4 tracking-[.01rem] mb-3">Welcome to Amicanem</h2>
        <p class="mx-auto mt-1 outline-none text-sm text-black opacity-60 dark:text-white dark:opacity-70 font-normal leading-4 tracking-[.01rem] flex">Your friendly chat companion, <strong class="ml-1">Amicanem</strong><p>
    </section>

    <div>
        <ul id="viewerjs-images-container" class="hidden">  
        </ul>
    </div> 

    <div class="absolute hidden mx-2 rounded-bl-none rounded group max-w-[31.25rem] p-5 transition duration-500 rounded rounded-bl-none mr-4 bg-gray-100 dark:bg-gray-600 group max-w-[31.25rem] p-5 transition duration-500 rounded rounded-br-none ml-4 order-2 bg-indigo-50 dark:bg-gray-600 whitespace-pre-wrap break-all text-sm font-normal leading-4 tracking-[.01rem] outline-none text-black opacity-60 dark:text-white dark:opacity-70 whitespace-pre-wrap break-all text-sm font-normal leading-4 tracking-[.01rem] outline-none text-black opacity-60 dark:text-white dark:opacity-70"></div>
{% endblock %}
