<div class="grow px-5 py-5 gap-5 flex flex-col overflow-y-auto scrollbar-hidden">
    <div>
        <!---->
        <div class="select-none">
            <div class="xs:mb-6 md:mb-5 flex justify-end">
                <div class="mr-4">
                    <!---->
                </div>
                <div class="flex items-end">
                    <div class="group max-w-[31.25rem] p-5 rounded-b transition duration-500 rounded-tl ml-4 order-2 bg-indigo-50 dark:bg-gray-600">
                        <!---->
                        <p class="text-sm font-normal leading-4 tracking-[.01rem] outline-none text-black opacity-60 dark:text-white dark:opacity-70" tabindex="0">Can you send me a link</p>
                        <!---->
                        <!---->
                    </div>
                    <div class="ml-4 order-1">
                        <p class="outline-none text-xs text-black opacity-60 dark:text-white dark:opacity-70 font-light leading-4 tracking-[.01rem] whitespace-pre">8:15 am</p>
                    </div>
                    <img src="/assets/green_checks-6ffb68e3.svg" class="w-[.875rem] h-[.875rem]">
                </div>
            </div> 
        </div>
    </div>
    <div>
        <!---->
        <div class="select-none">
            <div class="xs:mb-6 md:mb-5 flex">
                <div class="mr-4">
                    <div aria-label="Dylan Billy" class="outline-none">
                        <div class="w-[2.25rem] h-[2.25rem] bg-cover bg-center rounded-full" style="background-image: url(&quot;https://images.unsplash.com/photo-1522556189639-b150ed9c4330?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=387&amp;q=80&quot;);"></div>
                    </div>
                </div>
                <div class="flex items-end">
                    <div class="group max-w-[31.25rem] p-5 rounded-b transition duration-500 rounded-tr mr-4 bg-gray-100 dark:bg-gray-600">
                        <!---->
                        <p class="text-sm font-normal leading-4 tracking-[.01rem] outline-none text-black opacity-60 dark:text-white dark:opacity-70" tabindex="0">
                            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                            aaaaaaaaaaaaaaaaaa
                            aaaaaaaaaaaaaaaaaa
                            aaaaaaaaaaaaaaaaaa
                            aaaaaaaaaaaaaaaaaa
                            aaaaaaaaaaaaaaaaaa
                            aaaaaaaaaaaaaaaaaa
                            aaaaaaaaaaaaaaaaaa
                            aaaaaaaaaaaaaaaaaa
                            aaaaaaaaaaaaaaaaaa
                            aaaaaaaaaaaaaaaaaa
                        </p>
                        <!---->
                        <!---->
                    </div>
                    <div class="mr-4">
                        <p class="outline-none text-xs text-black opacity-60 dark:text-white dark:opacity-70 font-light leading-4 tracking-[.01rem] whitespace-pre">1:00 pm</p>
                    </div>
                    <!---->
                </div>
            </div> 
        </div>
    </div>
    <div>
        <div class="w-full my-7 flex items-center justify-center">
            <div class="w-full h-0 border-t border-dashed dark:border-gray-600 dark:bg-opacity-0"></div>
            <p class="outline-none text-xs font-light text-black opacity-60 dark:text-white dark:opacity-70 leading-4 tracking-[.01rem] mx-5"> Today </p>
            <div class="w-full h-0 border-t border-dashed dark:border-gray-600 dark:bg-opacity-0"></div>
        </div> 
    </div> 
    <div>
        <!---->
        <div class="select-none">
            <div class="xs:mb-6 md:mb-5 flex justify-end">
                <div class="mr-4">
                    <!---->
                </div>
                <div class="flex items-end">
                    <div class="group max-w-[31.25rem] p-5 rounded-b transition duration-500 rounded-tl ml-4 order-2 bg-indigo-50 dark:bg-gray-600">
                        <!---->
                        <p class="text-sm font-normal leading-4 tracking-[.01rem] outline-none text-black opacity-60 dark:text-white dark:opacity-70" tabindex="0">
                            Wow, really cool
                            Wow, really cool
                            Wow, really cool
                            Wow, really cool
                            Wow, really cool
                            Wow, really cool
                            Wow, really cool
                            Wow, really cool
                            Wow, really cool
                            Wow, really cool
                            Wow, really cool
                            Wow, really cool
                            Wow, really cool
                            Wow, really cool
                            Wow, really cool
                            Wow, really cool
                            Wow, really cool
                            Wow, really cool
                            Wow, really cool
                            Wow, really cool
                            Wow, really cool
                            Wow, really cool
                            Wow, really cool
                        </p>
                        <!---->
                        <!---->
                    </div>
                    <div class="ml-4 order-1">
                        <p class="outline-none text-xs text-black opacity-60 dark:text-white dark:opacity-70 font-light leading-4 tracking-[.01rem] whitespace-pre">1:30 pm</p>
                    </div>
                    <img src="/assets/green_checks-6ffb68e3.svg" class="w-[.875rem] h-[.875rem]">
                </div>
            </div> 
        </div>
    </div> 
    <div>
        <!---->
        <div class="select-none">
            <div class="xs:mb-6 md:mb-5 flex justify-end">
                <div class="mr-4">
                    <!---->
                </div>
                <div class="flex items-end">
                    <div class="group max-w-[31.25rem] p-5 rounded-b transition duration-500 rounded-tl ml-4 order-2 bg-indigo-50 dark:bg-gray-600">
                        <!---->
                        <p class="text-sm font-normal leading-4 tracking-[.01rem] outline-none text-black opacity-60 dark:text-white dark:opacity-70" tabindex="0">Can you send me a link</p>
                        <!---->
                        <!---->
                    </div>
                    <div class="ml-4 order-1">
                        <p class="outline-none text-xs text-black opacity-60 dark:text-white dark:opacity-70 font-light leading-4 tracking-[.01rem] whitespace-pre">8:15 am</p>
                    </div>
                    <img src="/assets/green_checks-6ffb68e3.svg" class="w-[.875rem] h-[.875rem]">
                </div>
            </div> 
        </div>
    </div>
    <div>
        <!---->
        <div class="select-none">
            <div class="xs:mb-6 md:mb-5 flex">
                <div class="mr-4">
                    <div aria-label="Dylan Billy" class="outline-none">
                        <div class="w-[2.25rem] h-[2.25rem] bg-cover bg-center rounded-full" style="background-image: url(&quot;https://images.unsplash.com/photo-1522556189639-b150ed9c4330?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=387&amp;q=80&quot;);"></div>
                    </div>
                </div>
                <div class="flex items-end">
                    <div class="group max-w-[31.25rem] p-5 rounded-b transition duration-500 rounded-tr mr-4 bg-gray-100 dark:bg-gray-600">
                        <!---->
                        <p class="text-sm font-normal leading-4 tracking-[.01rem] outline-none text-black opacity-60 dark:text-white dark:opacity-70" tabindex="0">
                            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                            aaaaaaaaaaaaaaaaaa
                            aaaaaaaaaaaaaaaaaa
                            aaaaaaaaaaaaaaaaaa
                            aaaaaaaaaaaaaaaaaa
                            aaaaaaaaaaaaaaaaaa
                            aaaaaaaaaaaaaaaaaa
                            aaaaaaaaaaaaaaaaaa
                            aaaaaaaaaaaaaaaaaa
                            aaaaaaaaaaaaaaaaaa
                            aaaaaaaaaaaaaaaaaa
                        </p>
                        <!---->
                        <!---->
                    </div>
                    <div class="mr-4">
                        <p class="outline-none text-xs text-black opacity-60 dark:text-white dark:opacity-70 font-light leading-4 tracking-[.01rem] whitespace-pre">1:00 pm</p>
                    </div>
                    <!---->
                </div>
            </div> 
        </div>
    </div>
    <div>
        <div class="w-full my-7 flex items-center justify-center">
            <div class="w-full h-0 border-t border-dashed dark:border-gray-600 dark:bg-opacity-0"></div>
            <p class="outline-none text-xs font-light text-black opacity-60 dark:text-white dark:opacity-70 leading-4 tracking-[.01rem] mx-5"> Today </p>
            <div class="w-full h-0 border-t border-dashed dark:border-gray-600 dark:bg-opacity-0"></div>
        </div> 
    </div> 
    <div>
        <!---->
        <div class="select-none">
            <div class="xs:mb-6 md:mb-5 flex justify-end">
                <div class="mr-4">
                    <!---->
                </div>
                <div class="flex items-end">
                    <div class="group max-w-[31.25rem] p-5 rounded-b transition duration-500 rounded-tl ml-4 order-2 bg-indigo-50 dark:bg-gray-600">
                        <!---->
                        <p class="text-sm font-normal leading-4 tracking-[.01rem] outline-none text-black opacity-60 dark:text-white dark:opacity-70" tabindex="0">
                            Wow, really cool
                            Wow, really cool
                            Wow, really cool
                            Wow, really cool
                            Wow, really cool
                            Wow, really cool
                            Wow, really cool
                            Wow, really cool
                            Wow, really cool
                            Wow, really cool
                            Wow, really cool
                            Wow, really cool
                            Wow, really cool
                            Wow, really cool
                            Wow, really cool
                            Wow, really cool
                            Wow, really cool
                            Wow, really cool
                            Wow, really cool
                            Wow, really cool
                            Wow, really cool
                            Wow, really cool
                            Wow, really cool
                        </p>
                        <!---->
                        <!---->
                    </div>
                    <div class="ml-4 order-1">
                        <p class="outline-none text-xs text-black opacity-60 dark:text-white dark:opacity-70 font-light leading-4 tracking-[.01rem] whitespace-pre">1:30 pm</p>
                    </div>
                    <img src="/assets/green_checks-6ffb68e3.svg" class="w-[.875rem] h-[.875rem]">
                </div>
            </div> 
        </div>
    </div>
</div>