<div {{ 
    stimulus_controller('main', 
        { 
            'currentUser': currentUser, 
            'uid': uid, 
            'publickey': publickey, 
            'privatekey': privatekey, 
            'passphrase': passphrase 
        }) 
    }} id="chatbox" class="relative grow px-5 gap-0.5 flex flex-col overflow-y-auto scrollbar-hidden">
    <div class="flex flex-grow"></div> 
</div>

<div>
    <ul id="viewerjs-images-container" class="hidden">  
    </ul>
</div>  

<div id="alert-message-container" class="hidden absolute p-4 mx-10 mt-10 self-center text-yellow-800 border border-yellow-300 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300 dark:border-yellow-800" role="alert">
    <div class="flex items-center">
        <svg class="flex-shrink-0 w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
        </svg>
        <span class="sr-only">Info</span>
        <h3 class="text-normal font-medium" id="alert-message-title"></h3>
    </div>
    <div class="mt-2 text-sm" id="alert-message-content"></div> 
</div>