<div {{ 
    stimulus_controller('main', 
        { 
            'currentUser': currentUser, 
            'uid': uid, 
            'publickey': publickey, 
            'privatekey': privatekey, 
            'passphrase': passphrase 
        }) 
    }} id="chatbox" class="relative grow px-5  gap-0.5 flex flex-col overflow-y-auto scrollbar-hidden">
    <div class="flex flex-grow"></div>
</div>